.main {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  -webkit-animation: theme 21s linear infinite;
  animation: theme 21s linear infinite;
}
.main:after, .main:before {
  content: "";
  display: block;
  position: fixed;
  z-index: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  //width: 100vmax;
  //height: 100vmax;
  background: rgba(0, 0, 0, 0.05);
  -webkit-animation: background 90s linear infinite;
  animation: background 90s linear infinite;
}
.main:after {
  left: 15vw;
}
.main:before {
  right: 15vw;
  -webkit-animation-delay: -30s;
  animation-delay: -30s;
  animation-direction: reverse;
}

@-webkit-keyframes theme {
  0% {
    background: #74C390;
  }
  16% {
    background: #5DBDB6;
  }
  33% {
    background: #59D4E1;
  }
  50% {
    background: #51BCE8;
  }
  66% {
    background: #FA5374;
  }
  83% {
    background: #E46653;
  }
  100% {
    background: #74C390;
  }
}

@keyframes theme {
  0% {
    background: #74C390;
  }
  16% {
    background: #5DBDB6;
  }
  33% {
    background: #59D4E1;
  }
  50% {
    background: #51BCE8;
  }
  66% {
    background: #FA5374;
  }
  83% {
    background: #E46653;
  }
  100% {
    background: #74C390;
  }
}
@-webkit-keyframes background {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes background {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}